# Node
node_modules/
npm-debug.log
yarn-error.log

# Yarn (Berry/v2+)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Build output
out/
dist/

# VSCode extension
*.vsix

# OS
.DS_Store
Thumbs.db

# IDE
.vscode-test/
.vscode/settings.json

# TypeScript
*.tsbuildinfo

# Logs
*.log

